<template name="home">
  {{#if currentUser}}
    {{> referencesList}}
  {{else}}
    <div class="jumbotron text-center">
      <h1><span class="text-danger">T</span>oday <span class="text-danger">I</span> <span class="text-danger">L</span>earned</h1>
      <hr>
      <p class="lead">A minimalistic mind-palace to store just that one sentence you've learnt.</p>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          {{> loginButtons}}
        </div>  
      </div>
    </div> 
  {{/if}}
</template>