<template name="layout">
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      {{> header}}
      {{> errors}}
      <div id="main">
        {{> yield}}
      </div>
      <footer class="footer" role="contentinfo">
        <img src="/mush.png" class="decoration hidden-xs">
        <div class="row">
            <div class="col-md-12 col-centered text-center">
              <hr>
              <p class="text-muted"> Made with <span class="fa fa-heart text-danger"></span> by <a href="https://github.com/freegyes/TIL" target="_blank">freegyes</a> @HUN.</p>
            </div>
        </div> 
      </footer>
    </div> <!-- /container --> 
  </body>
</template>