.btn-Facebook:hover {
  color: #cccccc;
}

.nav-li {
 line-height: 50px; 
 padding-right: 15px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  right: 5px;
  bottom: 5px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 5000ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 5000ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 5000ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}