<template name="referenceSubmit">
  <form>
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Name your reference" name="title" value="">
      <span class="help-block">{{errorMessage 'title'}}</span>
    </div>
    <div class="form-group {{errorClass 'thm'}}">
      <label class="control-label" for="thm">Today I learned</label>
      <textarea id="thm" name="thm" class="form-control" rows="3"></textarea>
      <span class="help-block">{{errorMessage 'thm'}}</span>
    </div>
    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <input type="text" class="form-control" id="url" placeholder="Paste URL (optional)" name="url" value="">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>